@import "~antd/lib/style/themes/default.less";
@import "~antd/lib/card/style/index.less";

.card {
    height: 190px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(0px, auto);
}

.preview {
    margin-right: 1em;
    img {
        width: 100%;
        min-width: 70px;
        max-width: 100px;
        border-radius: 2px;
    }
}

.progress {
    /*border: 1px solid blue;*/
    grid-column: e("1/5");
    grid-row: 3;
}
.tasks {
    /*border: 1px solid blue;*/
    grid-column: e("1/3");
    grid-row: 4;
    font-size: 0.9em;
    opacity: 0.7;
}

.deadline {
    /*border: 1px solid blue;*/
    grid-column: e("3/5");
    grid-row: 4;
    text-align: right;
    font-size: 0.9em;
    margin-left: 0.5em;
    opacity: 0.7;
}

.icon {
    margin-right: 0.5em;
}

.wrap {
    display:flex;
    grid-column: e("1/5");
    grid-row: 1;
}
.content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(0px, auto);
}

.head {
    /*border: 1px solid red;*/
    grid-column: e("1/3");
    grid-row: 1;
}

.notification {
    /*border: 1px solid blue;*/
    grid-column: e("2/3");
    grid-row: 1;
    text-align: right;
}

.description {
    width: 100%;
    /*border: 1px solid blue;*/
    grid-column: e("1/3");
    grid-row: 2;
}

@media screen and (min-width: 920px) and (max-width: 1150px) {
    .preview {
        display:none;
    }
}


